/***** BASE CSS *****/

.top{

}

.success{
    text-align: center;
    background-color: #CCC;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.especialidade-home{
    width: 100%;
    min-height: 200px;
    cursor:pointer;
}

.especialidade-home h3{
    color: #dcd8bf;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 40px;
}

.especialidade-home h3 span{
    display: block;
    font-size: 18px;
}

.especialidade-desc {
    min-height: 240px;
}

.especialidade-list {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.bg-otorrino-home{
    background: url(../images/bg-otorrino-home.jpg);
    background-position: top center;
    background-size: 100%;
    transition: background-size 0.2s ease-in;
    -moz-transition: background-size 0.2s ease-in;
    -ms-transition: background-size 0.2s ease-in;
    -o-transition: background-size 0.2s ease-in;
    -webkit-transition: background-size 0.2s ease-in;
}

.bg-otorrino-home:hover{
    background-size: 130%;
}

.bg-urologista-home{
    background: url(../images/bg-urologista-home.jpg);
    background-position: top center;
    background-size: 100%;
    transition: background-size 0.2s ease-in;
    -moz-transition: background-size 0.2s ease-in;
    -ms-transition: background-size 0.2s ease-in;
    -o-transition: background-size 0.2s ease-in;
    -webkit-transition: background-size 0.2s ease-in;    
}

.bg-urologista-home:hover{
    background-size: 130%;
}

.bg-dermato-home{
    background: url(../images/bg-dermato-home.jpg);
    background-position: top center;
    background-size: 100%;
    transition: background-size 0.2s ease-in;
    -moz-transition: background-size 0.2s ease-in;
    -ms-transition: background-size 0.2s ease-in;
    -o-transition: background-size 0.2s ease-in;
    -webkit-transition: background-size 0.2s ease-in;    
}

.bg-dermato-home:hover{
    background-size: 130%;
}


.bg-reumato-home{
    background: url(../images/bg-reumato-home.jpg);
    background-position: top center;
    background-size: 100%;
    transition: background-size 0.2s ease-in;
    -moz-transition: background-size 0.2s ease-in;
    -ms-transition: background-size 0.2s ease-in;
    -o-transition: background-size 0.2s ease-in;
    -webkit-transition: background-size 0.2s ease-in;
}

.bg-reumato-home:hover{
    background-size: 130%;
}

.bg-neuro-home{
    background: url(../images/bg-neuro-home.jpg);
    background-position: top center;
    background-size: 100%;
    transition: background-size 0.2s ease-in;
    -moz-transition: background-size 0.2s ease-in;
    -ms-transition: background-size 0.2s ease-in;
    -o-transition: background-size 0.2s ease-in;
    -webkit-transition: background-size 0.2s ease-in;
}

.bg-neuro-home:hover{
    background-size: 130%;
}

.bg-endocrino-home{
    background: url(../images/bg-endocrino-home.jpg);
    background-position: top center;
    background-size: 100%;
    transition: background-size 0.2s ease-in;
    -moz-transition: background-size 0.2s ease-in;
    -ms-transition: background-size 0.2s ease-in;
    -o-transition: background-size 0.2s ease-in;
    -webkit-transition: background-size 0.2s ease-in;
}

.bg-endocrino-home:hover{
    background-size: 130%;
}



/* Site Name */

#divSiteTitle {text-decoration:none;}

#divTagLine {text-decoration:none;}

/* Headline Text */

#divHeaderLine1 {display:inline-block !important}

#divHeaderLine2 {display:inline-block !important}

#divHeaderLine3 {display:inline-block !important}


/* Headings */

h3, h4, h5, h6 {line-height:1.5 !important}

.lead {
    text-align:center;
}

.lead h2 {
    font-size:33px;line-height:45px;
}

.lead h3 {
    font-size:17px;
}

.lead h3 a {
    font-size:inherit !important;
}


/* Contact */

#contact-info i {font-size:18px; margin-right:10px;}

#contact-info p {list-style:none; margin-left: 10px; margin-top: 10px; font-size:16px; line-height: 25px;}

#contact-info .field {font-weight:bold; }

.btn-sugestao {
    margin-bottom: 30px;
}

/* Grid */

#tiles li {
width:240px !important;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 10px !important;
margin-right:7px;margin-bottom:7px;float:left;
}

#tiles li img {margin-bottom:10px;}

#tiles li div.meta {color:#999;text-transform:uppercase;font-size:10px;margin:0;}

#tiles li h4 {line-height:1.5;margin:0 0 5px 0;}

#tiles li h4 a {line-height:inherit;margin:0;text-decoration:inherit;color:inherit;font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;}

#tiles li p {font-size:12px;line-height:1.5;margin:0;}

#tiles li a {font-size:12px;}

#tiles li .more_link {font-size:smaller;line-height:2;text-transform:uppercase;letter-spacing:2px;white-space:nowrap;display:block;margin: 5px 0 0 0;}

#tiles li blockquote {line-height:1.5;margin:0;padding:0;color:#999;border:none;font-size:150%;font-style:italic;font-family:Georgia, Times, serif;}

#tiles li blockquote small {font-size:11px;font-style:normal;}


/* Icons */

[class*="social foundicon-"]:before {font-family: "SocialFoundicons";}

[class*="general foundicon-"]:before {font-family: "GeneralFoundicons";}

        
/* Menu Side */

.menu_menu_simple ul {margin-top:0px;margin-bottom:0px;}

.menu_menu_simple ul li {margin-top:0px;margin-bottom:0px;}


/* Header Area */

#decorative1 {
margin-top:-2px;padding-top:2px;    
margin-left: -20px !important;
margin-right: -20px !important; /* fix bg cover issue */
}


/* Menu Centered */

.centered_menu {text-align:center}

.centered_menu > div {display:inline-block;}

.centered_menu div {text-align:left}


/* Footer elements */

.social_bookmarks a {font-size:smaller !important;text-transform:uppercase;letter-spacing:1px;text-decoration:none;margin-right:20px;}

.copyright {font-size:smaller;letter-spacing:1px;}


/* Responsive Image */

img {max-width:100%;height:auto;width:auto;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

/* Responsive Video from Zurb Foundation. Copyright (c) 2011 ZURB, http://www.zurb.com/ License: MIT */

.flex-video {position:relative;padding-top:25px;padding-bottom:67.5%;height:0;margin-bottom:16px;overflow: hidden;}

.flex-video.widescreen {padding-bottom:57.25%;}

.flex-video.vimeo {padding-top:0;}

.flex-video iframe, .flex-video object, .flex-video embed {position:absolute;top:0;left:0;width:100%;height:100%;border:none;}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
        .flex-video { padding-top: 0; }

    }

    
/* Additional */
    
#divBoxed {position:relative}
 
.nav-links > a {margin-right:20px;}

.btn-secondary, .btn-secondary:hover {text-shadow:none;}

#divHeaderLine1 a, #divHeaderLine2 a, #divHeaderLine3 a {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    text-shadow: inherit;
    font-weight: inherit;
    font-style: inherit;
}

#divHeaderLine1, #divHeaderLine2, #divHeaderLine3 {
    padding-top:3px !important;
    padding-bottom:3px !important;
    text-align:inherit !important;
}

#decorative2 {/*opacity:0.95;*/

    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
}

.showcase-tabs > li > a {
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.cap1 div, .cap2 div, .cap3 div, .cap4 div, .cap5 div {
    margin: 0 -1px;
}

.camera_wrap .camera_pag .camera_pag_ul li {margin:20px 5px 0px !important;
}

.box{
	text-align: center;
	margin-bottom: 30px;
}

.box p{
    text-align: justify;
}

.box p a{
    text-align: right;
}

.box i{
	font-size: 50px;
	color: #2e7eb7;
    margin-bottom: 5px;
}

.time-home{
    color: #43C2CF;
    font-weight: bold;
}

.home-itens{
    margin-top: 30px;
    margin-bottom: 15px;
}

img.pull-left { margin-right:15px !important; margin-top:7px !important;}


/* Adjustments */

.search.adjust {margin-bottom:15px;}
      
.divPanel {margin-bottom: 20px}

.divPanel.notop {padding-top:0px}

.divPanel.nobottom {padding-bottom:0px}


/***** BOOTSTRAP CSS BASE OVERRIDE *****/

.navbar .nav-pills > li > a {text-shadow:none;font-weight:normal;}

.navbar .dropdown-menu li > a {text-shadow:none;font-weight:normal;}

.navbar .nav-pills > li > .dropdown-menu:before {border:none;}

.navbar .nav-pills > li > .dropdown-menu:after {border:none;}

.navbar .nav-pills > .active > a, .navbar .nav-pills > .active > a:hover, .navbar .nav-pills > .active > a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .nav-pills > li > a:hover, .navbar .nav-pills li.dropdown.open.active > .dropdown-toggle {-webkit-transition: ease-in-out .2s;-moz-transition: ease-in-out .2s;-o-transition: ease-in-out .2s;-ms-transition: ease-in-out .2s; transition: ease-in-out .2s;}


body {
    background-color: #FAFAFA;    
    background-image: url(background.jpg);
    background-position: top center;
    background-position: inherit inherit; 
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
 }

#divBoxed {margin-top: 51px;}

#divLogo{margin-top: 20px; margin-bottom: 0px; text-align: left;}

#divLogo img{width:300px; margin-left:10px; margin-top: 3px; }

#divSiteTitle{font-family: 'Source Sans Pro', sans-serif; font-size: 30px; line-height: 49px; color: #43C2CF; text-shadow: rgba(0, 0, 0, 0.0980392) 0px 3px 5px, rgba(255, 255, 255, 0.298039) 0px -5px 35px; letter-spacing: 4px; font-weight: normal; font-style: normal; text-transform: uppercase;}

#divTagLine{color: rgb(150, 150, 150); line-height: 24px; text-transform: none; letter-spacing: 4px; font-size: 16px; padding-left: 2px; padding-right: 2px; background-color: transparent; text-shadow: none; font-family: 'Source Sans Pro', sans-serif; font-weight: normal; font-style: normal; text-decoration: initial;}

.navContainer {}

.navContainer .navMenu {}

.navContainer .navMenu li {}

.navContainer .navMenu li a {}

.navContainer .navMenu li.current {}

.navContainer .navMenu li.current a {}

.camera_caption > div {opacity: 0.85;filter:alpha(opacity=85);}

.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {opacity: 0.85;filter:alpha(opacity=85) !important;background-color:rgb(240, 240, 240);}

.camera_wrap .camera_pag .camera_pag_ul li, .camera_wrap .camera_pag .camera_pag_ul li, .camera_wrap .camera_pag .camera_pag_ul li:hover > span {box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 8px inset; background-color: rgb(230, 230, 230);  }

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {}

.camera_wrap {
    display: block; 
    margin-bottom: 15px; 
    height: 391px; 
    border: 5px solid rgb(255, 255, 255); 
    margin-left: -5px; 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    margin-top: 20px; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; 
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;
}

.camera_wrap {
    margin-bottom: 0px !important;
}
.camera_caption > div {
    background-color: #2e7eb7;
}

.camera_full_width {margin-left:-40px;margin-right:-40px}

h1 {
    font-weight: normal; 
    font-style: normal; 
    letter-spacing: 0px; 
    line-height: 65px; 
    margin-top: 0px; 
    font-family: 'Source Sans Pro', sans-serif;
     color: #c9b170; 
     font-size: 40px;
 }

.page-content {line-height: 22px; font-family: 'Source Sans Pro', sans-serif;}

.page-content a {color: #43C2CF; font-family: 'Source Sans Pro', sans-serif;}

.sidebox {
    padding: 18px;
    padding-top: 0px; 
    padding-left: 30px; 
    margin-top: 0px; 
    border-left: 1px solid #eeeeee;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 18px; 
    color: rgb(51, 51, 51);
}

.sidebox p {
    margin-bottom: 20px;
    text-align: justify;
}

.sidebar{

    padding-top:0px; 
    margin-bottom: 20px;

 }

 .doencas-list{
    height: 300px;
    overflow: hidden;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
 }

.doencas-less {
    display: none;
}    

.doencas-more, .doencas-less {
    text-align: center;
    border-top: solid 1px #C9B170;
    line-height: 18px;
    font-size: 16px;
    margin-top: 15px;
    padding-top: 10px;
    color: #999;
    cursor: pointer;
}

.doencas-more:hover, .doencas-less:hover {
    color: #333;
    }

.sidebox-title {
    font-weight: normal; 
    font-style: normal; 
    font-size: 20px; 
    letter-spacing: 0px; 
    line-height: 30px; 
    font-family: 'Source Sans Pro', sans-serif; 
    color: rgb(51, 51, 51);
}

.sidebox a {color: #43C2CF; font-family: 'Source Sans Pro', sans-serif;}    

.title-especialidade {
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(201,177,112, 0.8);
    margin-top: 10px;
    margin-bottom: 10px; 
}

.bot-procedimentos{
    background-color: #C9B170;
    border-radius: 5px;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.bot-procedimentos:hover{
    background-color: #292981;
    color: #C9B170;
}

.bot-procedimentos .icon {
    text-align: center;
    font-size: 22px;
}

.bot-procedimentos .desc {
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    padding-right: 10px;
}

#divHome p {
    text-align: justify;
    font-size: 16px;
}

#divHome h3 {
    color: #c9b170;
}

#divMain img {
    float: left;
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#divMain p {
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
    padding-top: 15px;
}

#divMain h3 {
    color: #c9b170;
}

.perguntas-frequentes  {
    margin-left: 20px;
    padding-top: 0px;
}

.perguntas-frequentes h3 {
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: all .40s ease-out;
       -moz-transition: all .40s ease-out;
        -ms-transition: all .40s ease-out;
         -o-transition: all .40s ease-out;
            transition: all .40s ease-out;
}

.perguntas-frequentes h3:hover {
    color: #292981 !important;
}

.perguntas-frequentes p {
    padding-top: 0px !important;
}

.img-medico-especialidade {
    width: 100%;
    margin-bottom: 20px;
}

#divFooter{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: rgb(122, 12, 12);
	color: rgb(211, 211, 211);
	font-family: Actor, sans-serif;
	text-transform: none;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 22px;
	background-image: url(wood_1.png);
	background-repeat: repeat repeat;
}

.divPanel {padding: 10px 15px 0px 15px; }

#divFooter a {color: #43C2CF; font-size: 13px; font-family: 'Open Sans', sans-serif;}

#divFooter h3 {font-family: 'Source Sans Pro', sans-serif; font-weight: normal; font-style: normal; font-size: 23px; line-height: 45px; color: rgb(211, 211, 211);}

h2 {font-weight: normal; font-style: normal; font-family: 'Source Sans Pro', sans-serif; font-size: 35px; line-height: 50px;}

.transparent-bg {
    -moz-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; 
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;   
    background-color: rgba(255, 255, 255, 0.8); 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
}

.breadcrumbs {font-size: 14px; line-height: 40px; font-family: 'Open Sans', sans-serif;}

.breadcrumbs a {color: #43C2CF; font-family: 'Open Sans', sans-serif;}

#divHeaderLine1 {font-family: 'Source Sans Pro', sans-serif; font-size: 43px; line-height: 42px; margin-top: 0px; text-transform: none; color: #43C2CF; letter-spacing: 1px; text-align: center; text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px; background-image: none; opacity: 1; padding: 0px;}

#divHeaderLine2 {font-family: 'Source Sans Pro', sans-serif; font-size: 19px; line-height: 30px; margin-top: 12px; color: rgb(34, 34, 34); letter-spacing: 1px; text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px; text-align: center; background-image: none; opacity: 1; padding: 0px; font-weight: normal;}

#divHeaderLine3 {margin-top: 15px; line-height: 22px; color: rgb(0, 0, 0); text-align: center; font-family: 'Source Sans Pro', sans-serif;}

a.btn, a.btn-large, a.btn-small, a.btn-mini {color:#333}

 a.btn-info, a.btn-success, a.btn-warning, a.btn-danger, a.btn-inverse {color:#ffffff}

 .btn-secondary, .btn-secondary:hover, a.btn-secondary, a.btn-secondary:hover {color:#323232;}

 .btn-secondary {border:1px solid #dfdfdf;border-bottom:1px solid #afafaf;background-color:#fafafa;background-repeat: repeat-x;background-image:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));background-image:-webkit-linear-gradient(top, #fafafa, #e1e1e1);background-image:-moz-linear-gradient(top, #fafafa, #e1e1e1);background-image:-ms-linear-gradient(top, #fafafa, #e1e1e1);background-image:-o-linear-gradient(top, #fafafa, #e1e1e1);background-image:linear-gradient(top, #fafafa, #e1e1e1);filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#e1e1e1, GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}

 .btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] {background-color:#dfdfdf;}

.btn-primary, .btn-primary:hover, a.btn-primary, a.btn-primary:hover {color:#ffffff;}

 .btn-primary {
     background-image: none;   
     background-color:#C9B170;
    }

 .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary [disabled] {
    background-image: none;
    background-color: #292981;
 }

#divHeaderText {padding: 0px 0px 20px; border-color: rgb(51, 51, 51); text-align: center;}

#footerOuterSeparator{margin-top: 0px; height: 0px; background-color: rgb(255, 255, 255); border-top-color: rgb(255, 255, 255); border-top-width: 0px; border-top-style: solid;}

#headerSeparator{margin-top: 0px; border-top-color: rgb(51, 51, 51); border-top-width: 0px; border-top-style: solid;}

h3,.page-content h3 a {font-weight: normal; font-style: normal; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; line-height: 50px;}

h4,.page-content h4 a {font-weight: normal; font-style: normal; font-family: 'Source Sans Pro', sans-serif; font-size: 21px; line-height: 50px;}

h5,.page-content h5 a {font-weight: normal; font-style: normal; font-family: 'Source Sans Pro', sans-serif; font-size: 17px; line-height: 50px;}

h6,.page-content h6 a {font-weight: normal; font-style: normal; font-family: 'Source Sans Pro', sans-serif; font-size: 15px; line-height: 50px;}

.line-separator{border-top-width: 1px; border-top-style: dotted; margin-top: 21px; margin-bottom: 21px; border-top-color: rgb(195, 195, 195); }

#divVideo{border: 7px solid rgb(255, 255, 255); margin-left: -5px; -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 10px -10px, rgba(0, 0, 0, 0.298039) 0px 1px 4px; box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 10px -10px, rgba(0, 0, 0, 0.298039) 0px 1px 4px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-top: 15px; }

.nav .dropdown-toggle .caret {border-top-color:rgb(0, 0, 0);border-bottom-color:rgb(0, 0, 0);}

.nav .dropdown-toggle:hover .caret {border-top-color:rgb(0, 0, 0);border-bottom-color:rgb(0, 0, 0);}

.navbar .dropdown-menu, .dropdown-menu {
    background-color:#F0F0F0;
    border-radius:0px;
    border:none;
    box-shadow:none;    
}

.navbar .dropdown-menu li > a, .dropdown-menu li > a, .navbar .nav-pills .open .dropdown-toggle {
    color:rgb(0, 0, 0);
    border-bottom: solid 1px #CCC;
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu .active > a, .navbar .dropdown-menu .active > a:hover, .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .navbar .nav-pills .open a.dropdown-toggle:hover {
    filter:none; 
    color:#d0bd91;
    background-color:rgb(41,41,129);
    background-image:none;
}

.navbar .nav-pills > li > a { 
    margin-left:2px; 
    margin-right:2px; 
    padding:20px 20px; 
    border-radius:0px;
    color:rgb(41, 41, 41);
    background-color:rgb(240, 240, 240);
}

.navbar .nav-pills > li > a:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #d0bd91;
    background-color:rgb(41,41,129);
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle {background:none}

.navbar .nav-pills > .active > a, .navbar .nav-pills > .active > a:hover, .navbar .nav-pills li.dropdown.open > .dropdown-toggle, .navbar .nav-pills li.dropdown.active > .dropdown-toggle {
    color:#d0bd91;
    background-color:#292981;   
}

.navbar .ddmenu {margin-top:30px; margin-bottom:0px}

.navbar .nav-pills li.dropdown > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.open > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.active > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color:rgb(41, 41, 41);
    border-bottom-color:rgb(41, 41, 41);}

.navbar .nav-pills li.dropdown > .dropdown-toggle:hover .caret {
    border-top-color:rgb(255, 255, 255);
    border-bottom-color:rgb(255, 255, 255);}

.navbar .nav-pills li.dropdown.active > .dropdown-toggle .caret {border-top-color:rgb(255, 255, 255);border-bottom-color:rgb(255, 255, 255);}

.dropdown-menu .sub-menu {left:100%;position:absolute;top:0;visibility:hidden; margin-top:-1px;}

.dropdown-menu li:hover .sub-menu {visibility:visible;}

.ddmenu.nav-pills li a {font-family: 'Source Sans Pro', sans-serif; font-size: 15px; line-height: 17px;}

.ddmenu .dropdown-menu li a {font-family: 'Source Sans Pro', sans-serif; line-height: 26px; font-size: 16px;}

.camera_caption {font-size: 15px; font-family: 'Source Sans Pro', sans-serif; letter-spacing: 1px; line-height: 22px; text-transform: lowercase; font-weight: normal;}

.lead h2 {font-size: 45px; line-height: 65px; font-family: 'Source Sans Pro', sans-serif;}

.lead h3 {font-size: 23px; font-family: 'Source Sans Pro', sans-serif;}

.dropdown-menu .sub-menu {left:100%;position:absolute;top:0;visibility:hidden;margin-top:-1px;}
.dropdown-menu li:hover .sub-menu {visibility:visible;}
.navbar .btn-navbar-highlight {display:none;width:100%}

#decorative2 {z-index:100 !important}

.contact-header{
    padding: 15px;
    color: #999;
    text-align: right;
}

.contact-header .tel {
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-header .tel i {
    margin-left: 20px;
}

.contact-header .tel span{
    font-size: 14px;
    margin-left: 10px;
} 

.contact-header .end {
    font-size: 14px;
}

.contact-header .contact{
    width: 90%;
    float: left;
    }

.contact-header .social{
    width: 9%;
    float: left;
    line-height: 46px;
    }

.contact-header .social i{
    font-size: 30px;
    color: rgb(66,194,207);
    cursor: pointer;
}

.contact-header .social i:hover{
    color: rgb(41,41,129);
}


.chamada-img{
    width: 100%;
}

.apresentation{
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #6e6e6e;
}
.apresentation strong{
    color: #2e7eb7;
}

.head-about{
    height: 150px;
    width: 100%;
    background-image: url(../images/aclinica.jpg);
    background-position: center;
}

.head-convenios{
    height: 200px;
    width: 100%;
    background-image: url(../images/convenios.jpg);
    background-position: center;
}

.head-sugestoes{
    height: 150px;
    width: 100%;
    background-image: url(../images/sugestoes.jpg);
    background-position: center;
}

.head-equipe{
    height: 350px;
    width: 100%;
    background-image: url(../images/equipe.jpg);
    background-position: center;
}

.img-galery img {margin: 8px; width: 100%; cursor: pointer; opacity: 0.8}

.img-galery img:hover {opacity:1; }

.img-text-left {
    float:left;
    width: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.logo-convenios{
    margin-bottom: 25px;
}

.logo-convenios a{
   border:0px;
}

.logo-convenios img{
   opacity: 0.8;
   cursor: pointer;
}

.logo-convenios img:hover{
   opacity: 1;
}

/*CORPO CLÍNICO*/

.corpo-clinico-item {
    border-left: 1px solid #eeeeee;
    min-height: 400px;
    padding-left: 20px;
    text-align: justify;
}

.corpo-clinico-item img {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.corpo-clinico-item .especialidade {
    
    margin-top: -10px;
    color: #C9B170;
    border-top: solid 1px #C9B170;
    font-size: 16px;
    margin-bottom: 15px;

}

/*CORPO CLÍNICO*/

/*CONVÊNIOS*/

.convenio-especialidade ul{
    list-style: none;
}

.convenio-especialidade ul li{
    line-height: 25px;
    font-size: 16px;
}

.convenio-especialidade ul li a{
    text-decoration: none;
}

.convenio-especialidade span {
    display: block;
    margin-top: -10px !important;
    color: #C9B170;
    border-top: solid 1px #C9B170;
    font-size: 16px;
    margin-bottom: 15px;
}

/*CONVÊNIOS*/

/*ARTIGOS*/

.artigo-item {
    border-left: solid 2px #C9B170;
    padding-left: 30px; 
    line-height: 25px;  
    margin-bottom: 20px;
}

.artigo-item .title {
    font-size: 20px;
}

.artigo-item .veiculo {
    font-size: 14px;
    color: #C9B170;
}

.artigo-item .title a{
    color: #292981;
    text-decoration: none;
}

.artigo-item .title a:hover{
    color: #C9B170;
    text-decoration: none;
}

/*ARTIGOS*/


@media (max-width: 979px) {
     #divLogo {margin-bottom:10px; width: 100%;}


    .navbar .btn-navbar-highlight {display:inline;padding:9px 14px;margin-top:15px;}

    .navbar {width:100%;}

    #divMenuRight {float:none}


    .dropdown-menu .sub-menu {left:0%;position:relative;top:0;visibility:visible;margin-top:3px;display:block}

    .dropdown-menu, .sub-menu {border-radius:5px !important;}

    .navbar .ddmenu {margin-top: 0px;margin-bottom: 0px;}


    /* Fixed Top */

    #decorative2 {position:static;  height:auto;}

    body {padding-top:0px}


}


@media (max-width: 767px) {    
    #divLogo {margin-top:10px;margin-bottom:10px;}

    #divSiteTitle {font-size: 25px;}

    
    #divHeaderText {margin:0px;padding:10px 0px;}
   
    #divHeaderLine1 {margin-top: 0px;}
     
    
    #divMenuRight {width:100%; margin-top: 0px; padding-top:0px}

    .ddmenu, .navbar .ddmenu {margin-top: 0px; margin-bottom: 0px;}

    .navbar .btn-navbar-highlight {padding:9px 14px;margin-top:0px;}

    .navbar {width:100%;margin-top: 0px;padding-top:0px}

    
    #decorative1, #decorative2, #decorative3 {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}

    
    /* Fixed Top */

    #decorative2 {position:static}

    body {padding-top:0px}

    
    #divFooter {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}
    
    #divBoxed > #divFooter {margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;}

    
    body > #footerOuterSeparator, body > #contentOuterSeparator {margin-left:-20px;margin-right:-20px;}

    
    .headerArea, .topArea {padding:20px !important;}
 /*only for templates without divBoxed*/

    
    #camera_wrap {margin-top:20px}

    #divVideo {margin-top:20px}

    
    .dropdown-menu .sub-menu {left:0%;position:relative;top:0;visibility:visible;margin-top:3px;display:block}

    .dropdown-menu, .sub-menu {border-radius:5px !important;}

    .navbar .ddmenu {margin-top: 0px;margin-bottom: 0px;}

}




